@using Microsoft.AspNetCore.Identity
@using BestPlace.Infrastructure.Data.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="~/Admin/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="~/Admin/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="~/Admin/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="~/Admin/css/color_2.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="~/Admin/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="~/Admin/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="~/Admin/css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
              
                
                <partial name="_LoginAdminPartial"/>

                <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a  asp-area="Admin" asp-controller="Home" asp-action="Dashboard" ><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
                  @if (User.IsInRole("UserViewer"))
                  {
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Users</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="User" asp-action="All">> <span>All</span></a>
                              </li>
                          </ul>
                      </li>
                  }
                      @if (User.IsInRole("ItemViewer"))
                      {
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Items</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Item" asp-action="All">> <span>All</span></a>
                              </li>
                          </ul>
                      </li>
                      }
                      @if (User.IsInRole("QuestionnaireViewer"))
                      {
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Questionnaires</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Questionnaire" asp-action="All">> <span>All</span></a>
                              </li>
                              <li>
                                  <a asp-area="Admin" asp-controller="Questionnaire" asp-action="Add">> <span>Add</span></a>
                              </li>
                          </ul>
                      </li>
                      }
                      @if (User.IsInRole("CategoryViewer"))
                      {
                      
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Categories</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Category" asp-action="All">> <span>All</span></a>
                              </li>
                              <li>
                                  <a asp-area="Admin" asp-controller="Category" asp-action="Add">> <span>Add</span></a>
                              </li>
                          </ul>
                      </li>
                      }
                      
                      
                      @if (User.IsInRole("RoleViewer"))
                      {
                          <li class="active">
                              <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Roles</span></a>
                              <ul class="list-unstyled collapse show">
                                  <li>
                                      <a asp-area="Admin" asp-controller="Role" asp-action="All">> <span>All</span></a>
                                  </li>
                                  <li>
                                      <a asp-area="Admin" asp-controller="Role" asp-action="Add">> <span>Add</span></a>
                                  </li>
                              </ul>
                          </li>
                      }
                  @if (User.IsInRole("CallViewer"))
                  {
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Calls</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Call" asp-action="All">> <span>All</span></a>
                              </li>
                          </ul>
                      </li>
                  }
                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Dashboard"><img class="img-responsive" src="~/Admin/images/logo/logo.png" alt="#" /></a>
                        </div>
                    </div>
                </nav>
            </div>
            </div>
            
               <!-- end topbar -->
               <!-- dashboard inner -->
            @RenderBody()

                  <!-- footer -->
                
               </div>
               <!-- end dashboard inner -->
            </div>
         
   @section Scripts {
       @RenderSection("Scripts", required: false)}
       <!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
   <!-- JavaScript Bundle with Popper -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script><!-- wow animation -->
<script src="~/Admin/js/animate.js"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- owl carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.0/owl.carousel.min.js"></script> 
<!-- chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
<script src="~/Admin/js/analyser.js"></script>
<!-- nice scrollbar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.5/perfect-scrollbar.min.js"></script>
<script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
   
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <script src="~/Admin/js/animate.js"></script>

   <script>
       var ps = new PerfectScrollbar('#sidebar');
   </script>
   </body>
</html>