@using Microsoft.AspNetCore.Identity
@using BestPlace.Infrastructure.Data.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- site icon -->
      <link rel="icon" href="~/Admin/images/fevicon.png" type="image/png" />
      <!-- bootstrap css -->
      <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css" />
      <!-- site css -->
      <link rel="stylesheet" href="~/Admin/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="~/Admin/css/responsive.css" />
      <!-- color css -->
      <link rel="stylesheet" href="~/Admin/css/color_2.css" />
      <!-- select bootstrap -->
      <link rel="stylesheet" href="~/Admin/css/bootstrap-select.css" />
      <!-- scrollbar css -->
      <link rel="stylesheet" href="~/Admin/css/perfect-scrollbar.css" />
      <!-- custom css -->
      <link rel="stylesheet" href="~/Admin/css/custom.css" />
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="dashboard dashboard_1">
      <div class="full_container">
         <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
              
                
                <partial name="_LoginAdminPartial"/>

                <div class="sidebar_blog_2">
                  <h4>General</h4>
                  <ul class="list-unstyled components">
                     <li><a href="dashboard.html"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a></li>
                     
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Users</span></a>
                        <ul class="list-unstyled collapse show">
                           <li>
                              <a asp-area="Admin" asp-controller="User" asp-action="All">> <span>All</span></a>
                           </li>
                        </ul>
                     </li>  
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Deals</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Deal" asp-action="All">> <span>Deals</span></a>
                              </li>
                          </ul>
                      </li>
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Items</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Item" asp-action="All">> <span>Items</span></a>
                              </li>
                          </ul>
                      </li>
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Questionnaire</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Questionnaire" asp-action="All">> <span>Questionnaires</span></a>
                              </li>
                              <li>
                                  <a asp-area="Admin" asp-controller="Questionnaire" asp-action="Add">> <span>Add</span></a>
                              </li>
                          </ul>
                      </li>
                      <li class="active">
                          <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Category</span></a>
                          <ul class="list-unstyled collapse show">
                              <li>
                                  <a asp-area="Admin" asp-controller="Category" asp-action="All">> <span>Categories</span></a>
                              </li>
                              <li>
                                  <a asp-area="Admin" asp-controller="Category" asp-action="Add">> <span>Add</span></a>
                              </li>
                          </ul>
                      </li>

                  </ul>
               </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
               <!-- topbar -->
            <div class="topbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        <div class="logo_section">
                            <a href="index.html"><img class="img-responsive" src="~/Admin/images/logo/logo.png" alt="#" /></a>
                        </div>
                        <div class="right_topbar">
                            <div class="icon_info">
                                <ul>
                                    <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                    <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                </ul>
                                <ul class="user_profile_dd">
                                    <li>
                                        <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/Admin/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">John David</span></a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="profile.html">My Profile</a>
                                            <a class="dropdown-item" href="settings.html">Settings</a>
                                            <a class="dropdown-item" href="help.html">Help</a>
                                            <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            </div>
            
               <!-- end topbar -->
               <!-- dashboard inner -->
            @RenderBody()

                  <!-- footer -->
                
               </div>
               <!-- end dashboard inner -->
            </div>
         
   @section Scripts {
       @RenderSection("Scripts", required: false)}
       <!-- jQuery -->
<script src="~/Admin/js/jquery.min.js"></script>
<script src="~/Admin/js/popper.min.js"></script>
<script src="~/Admin/js/bootstrap.min.js"></script>
<!-- wow animation -->
<script src="~/Admin/js/animate.js"></script>
<!-- select country -->
<script src="~/Admin/js/bootstrap-select.js"></script>
<!-- owl carousel -->
<script src="~/Admin/js/owl.carousel.js"></script> 
<!-- chart js -->
<script src="~/Admin/js/Chart.min.js"></script>
<script src="~/Admin/js/Chart.bundle.min.js"></script>
<script src="~/Admin/js/utils.js"></script>
<script src="~/Admin/js/analyser.js"></script>
<!-- nice scrollbar -->
<script src="~/Admin/js/perfect-scrollbar.min.js"></script>
<script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
<!-- custom js -->
<script src="~/Admin/js/custom.js"></script>
<!-- calendar file css -->    
<script src="~/Admin/js/semantic.min.js"></script>
   
   <script src="~/Admin/js/jquery.min.js"></script>
   <script src="~/Admin/js/popper.min.js"></script>
   <script src="~/Admin/js/bootstrap.min.js"></script>
   <!-- wow animation -->
   <script src="~/Admin/js/animate.js"></script>
   <!-- select country -->
   <script src="~/Admin/js/bootstrap-select.js"></script>
   <!-- nice scrollbar -->
   <script src="~/Admin/js/perfect-scrollbar.min.js"></script>
   <script>
       var ps = new PerfectScrollbar('#sidebar');
   </script>
   <!-- custom js -->
   <script src="~/Admin/js/custom.js"></script>
   </body>
</html>