@using BestPlace.Core.Models.Category
@model IEnumerable<CategoryListViewModel>
@{
    ViewData["Title"] = "All";
}
 <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Tables</h2>
                           </div>
                        </div>
                     </div>
                     <!-- row -->
                     <div class="row">
                       
                        <!-- table section -->
                        <div class="col-md-12">
                           <div class="white_shd full margin_bottom_30">
                              <div class="full graph_head">
                                 <div class="heading1 margin_0">
                                    <h2>Category table</h2>
                                 </div>
                              </div>
                              <div class="table_section padding_infor_info">
                                 <div class="table-responsive-sm">
                                    <table class="table">
                                       <thead>
                                          <tr>
                                             <th>Name</th>
                                             <th>Photo</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                       @foreach ( var category in @Model)
                                       {
                                           <tr>
                                               <td>  @category.Name</td>
                                               <td>   <img width="180" class="img-responsive" src="@Url.Action( "GetCategoryImage", "Image", new { id = category.Id })"/></td>
                                               <th><a asp-area="admin" asp-action="Remove" asp-controller="Category" asp-route-id ="@category.Id">Remove</a></th>
                                               <th><a asp-area="admin" asp-action="Edit" asp-controller="Category" asp-route-id ="@category.Id">Edit</a></th>
                                           </tr>
                                       }
                                      
                                       </tbody>
                                    </table>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
 </div>