@using BestPlace.Core.Models.Questionnaire
@model IEnumerable<QuestionnaireUserListViewModel>
@{
    ViewData["Title"] = "All";
}
<section class="clean-block about-us">
    <div class="container">
    <div class="block-heading">
        <h2 class="text-info">My Questionnaire</h2>

        <div class="row justify-content-center">
        @foreach (var questionnaire  in @Model)
        {
            <div class="col-sm-6 col-lg-4">
                <div class="card text-center clean-card">
                    <div class="card-body info">
                        <h4  class="card-title"><a asp-area="" asp-controller="Questionnaire" asp-action="Submit" asp-route-id="@questionnaire.Id">@questionnaire.Name</a> </h4>
                    </div>
                </div>
            </div>
        }
        </div>
    </div>
    </div>
</section>