@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <p>
                Please check your email to reset your password.
            </p>      
            </div>
    </div>
</section>