@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Enter your email.</h2>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input autocomplete="Email" asp-for="Input.Email" class="form-control item" type="email">
            </div>

            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>

        </form>
        
    </div>
    
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
