@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Reset your password.</h2>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />

            <div class="mb-3">
                <label asp-for="Input.Email" class="form-label">Email</label>
                <input autocomplete="email" asp-for="Input.Email" class="form-control item" type="email">
            </div>
            
            <div class="mb-3">
                <label asp-for="Input.Password" class="form-label">Password</label>
                <input autocomplete="password" asp-for="Input.Password" class="form-control item" type="password">
            </div>
            
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="form-label">ConfirmPassword</label>
                <input autocomplete="new-Password" asp-for="Input.ConfirmPassword" class="form-control item" type="password">
            </div>


            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>

        </form>
        
    </div>
    
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
